<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
  <a class="navbar-brand" routerLink="/shop" routerLinkActive="active">Categories</a>
  <a class="navbar-brand" routerLink="/checkout" routerLinkActive="active">Checkout
    <span class="badge badge-light">{{cartService.products.length}}</span>
  </a>
  <a class="navbar-brand" routerLink="/profile" routerLinkActive="active">Profile
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  </a>
</nav>
<router-outlet></router-outlet>
