<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/store" routerLinkActive="active">Store</a>
  <a class="navbar-brand" routerLink="/parent-receiver" routerLinkActive="active">Parent Receiver</a>
</nav>

<router-outlet></router-outlet>

<app-header></app-header>
<app-content></app-content>
<app-store></app-store>
<!--<app-parent-event-receiver></app-parent-event-receiver>-->
<app-countdown-parent></app-countdown-parent>
<app-countdown-parent-view-child></app-countdown-parent-view-child>
<app-form-valdiation></app-form-valdiation>
