<h1>{{id}}</h1>

<form>
  <div class="form-group col-md-6">
    <h3>Add new products</h3>
    <label for="product-name">Product name: </label>
    <input class="form-control" #name id="product-name">

    <label for="product-manufacturer">Product manufacturer: </label>
    <input class="form-control" #manufacturer id="product-manufacturer">

    <label for="product-price">Product price: </label>
    <input class="form-control" type="number" #price id="product-price">

    <button class="btn btn-primary" (click)="addProduct(name.value, manufacturer.value, price.value)">Add product
    </button>
  </div>
</form>


<div class="col-md-6" *ngIf="products.length > 0">
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody *ngFor="let product of products">
    <app-product-view [product]="product"></app-product-view>
    </tbody>
  </table>
</div>
